/*color swatches for my color palette*/
:root {
  /* main colors */
  /* --primary-color: #265952;
  --secondary-color: #437361; */
  --primary-color: #0F0F0F;
  --secondary-color: #F04A4A;
  --tertiary-color: #fff5e8; 

  /* hover color */
  --primary-hover: #fba9a9;
  --secondary-hover: #911111;

  /*color for text*/
  --red-headline: #F04A4A;
  --white-text: #F1DCDC;
  --red-btn: #F04A4A;

  --black-headline: #0F0F0F;
  --black-text: #251e1e;
  --black-btn: #0F0F0F;

}

/* font */
:root {
  --h-font: "ohno-blazeface", sans-serif;
  --t-font: "condor", sans-serif;
}

/* border */
:root {
  --dark-border: 1px solid var(--primary-color);
  --bright-border: 1px solid var(--tertiary-color);
  --complementary-border: 1px solid var(--tertiary-color);
}

/* section styling */
:root {
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
