/*color swatches for my color palette*/
:root {
  /* main colors */
  --primary-color: #796796;
  --secondary-color: #dad1ed;
  --tertiary-color: #caeaa9;
  --quaternary-color: #fff5e8;
  --black-color: #0F0F0F;

  /* hover color */
  --primary-hover: #fba9a9;
  --secondary-hover: #911111;

  /*color for text*/
  --light-body: #dad1ed;
  --dark-body: #3b393d;

}

/* font */
:root {
  --h-font: "tuppence", serif;
  --t-font: "condor", sans-serif;
}

/* section styling */
:root {
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
