@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* styling of body to have less work */
body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;
    list-style-type: none;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*styling text*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--h-font);
}

p {
    font-size: 16px;
}

.bold-p {
    font-weight: 700;
}

.more-bold-p {
    font-weight: 900;
}

/* making all p responsive for smaller screens */
@media only screen and (max-width: 850px) {
    p {
    font-size: 15px;
    }
}

/*styling button*/
.btn-1 {
    background-color: var(--primary-color);
    padding: 10px 40px;
    color: var(--quaternary-color);
    font-size: 16px;
    border: 0;
    transition: 0.3s;
    border-radius: 20px;
    border: 2px solid var(--black-btn);
}

.btn-1:hover {
    transition: 0.3s;
    border: 2px solid var(--red-headline);
    border-radius: 5px;
}

.btn-2 {
    background-color: var(--secondary-color);
    padding: 10px 40px;
    color: var(--black-color);
    font-size: 16px;
    transition: 0.3s;
    border-radius: 20px;
}

.btn-2:hover {
    transition: 0.3s;
    border-radius: 5px;
}

.btn-3 {
    background-color: var(--tertiary-color);
    padding: 10px 40px;
    color: var(--black-color);
    font-size: 16px;
    transition: 0.3s;
    border-radius: 20px;
}

.btn-3:hover {
    transition: 0.3s;
    border-radius: 5px;
}

/* responsive button */
@media only screen and (max-width: 850px) {
    .btn-1, .btn-2, .btn-3 {
        font-size: 15px;
    }
}


/* 10% percent */
.ten-percent {
    padding-right: 10%;
    padding-left: 10%;
}

.ten-percent-m {
    margin-right: 10%;
    margin-left: 10%;
}

.ten-percent-top-bottom {
    padding-top: 10%;
    padding-bottom: 10%;
}

.six-percent {
    padding-right: 6%;
    padding-left: 6%;
}

.three-percent {
    padding-right: 3%;
    padding-left: 3%;
}




/* classes for text colors  */
.dark-headline {
    color: var(--primary-color);
}

.light-headline {
    color: var(--secondary-color);
}

.third-headline {
    color: var(--tertiary-color);
}

.black-headline {
    color: var(--black-color);
}

.black-text {
    color: var(--dark-body);
}

.white-text {
    color: var(--light-body);
}


/* background colors */
.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.tertiary-bg {
    background-color: var(--tertiary-color);
}

.quaternary-bg {
    background-color: var(--quaternary-color);
}

.black-bg {
    background-color: var(--black-color);
}



/* font family */
.font-headline {
    font-family: var(--h-font);
}

.font-text {
    font-family: var(--t-font);
}

.round-corner {
    border-radius: 20px;
}



/* animation to make text slide down */
.slide-down-container {
    overflow: hidden;
  }
  
  .slide-down {
    opacity: 0;
    animation: slideDown 1s ease forwards;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }